<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>07_ルーティングとファイルの配信</title>
</head>
<body>
  <h1>07_ルーティングとファイルの配信</h1>
  <h2>Pokemon ipsum</h2>
  <div class="flex">
    <img src="../public/image/yoroshiku.png" alt="よろしくお願いします" class="img">
    <p>With threads from its mouth, it fashions sturdy webs that won't break even if you set a rock on them.When the bacteria living inside its antennae absorb Lanturn's bodily fluids, a strong luminescent effect is produced.Koffing embodies toxic substances. It mixes the toxins with raw garbage to set off a chemical reaction that results in a terribly powerful poison gas. The higher the temperature, the more gas is concocted by this Pokémon.<br><br>EoP</p>
  </div>
</body>
</html>